# ======================
# BANCO DE DADOS
# ======================
*.db
*.sqlite
*.sqlite3

# ======================
# LOGS
# ======================
logs/*.log

# ======================
# BACKUPS
# ======================
backups/*

# ======================
# RELATORIOS
# ======================
reports/**/*.pdf
reports/**/*.csv

# ======================
# COMPROVANTES
# ======================
comprovantes/*.pdf

# ======================
# UPLOADS
# ======================
uploads/*

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc

# ======================
# TERMUX / LINUX
# ======================
.storage/
.termux/

# ======================
# SEGURANÇA
# ======================
.env
*.pem
*.key
